/* font-['Merriweather'] */
@theme {
  --breakpoint-xs: 330px;
}


*:root{
    --salmon : #ef9d71;
    --black : #000;
    --white : #fff;
    --cyan: #AEDEE0;
    --dsalmon : #532521;
    --dcyan: #1f2f32;
}

.videotab{
    clip-path: circle(var(--clip) at 50% 50%);
}

*::selection{
    background-color: var(--salmon);
}

body[theme = "black"]{
    background-color: black;
}
body[theme = "black"] .section{
    color: var(--white);
}
body[theme = "cyan"]{
    background-color: var(--cyan);
}
body[theme = "cyan"]{
    color: var(--dcyan);
}
body[theme = "salmon"]{
    background-color: var(--salmon);
}
body[theme = "salmon"]{
    color: var(--dsalmon);
}
body[theme = "white"]{
    background-color: var(--white);
}
body[theme = "white"]{
    color: var(--black);
}
